In [263]:
import pandas as pd

# Import the dataset

In [264]:
df = pd.read_csv('train.csv')
df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

# Data Exploratory Analysis

In [265]:
import plotly.express as px

fig = px.scatter(df, x='Fare',y = 'Age',color ='Survived' )
fig.show()
# px.set_xlabel('Age')

In [266]:
px.pie(df, 'Survived')

# Preprocessing

## Handling unwanted and missing values

In [267]:
df.isna().mean()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

Embarked is useless

In [268]:
df.drop(['Embarked'],axis = 1,inplace = True)

Cabin is useless

In [269]:
df.drop(['Cabin'],axis = 1,inplace = True)

Replace Age N/A with mean

In [270]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64

In [271]:
age_mean = round(df['Age'].mean())
age_mean

30

In [272]:
df['Age'].fillna(age_mean, inplace=True)

In [273]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
dtype: int64

Passenger ID is useless

In [274]:
df.drop('PassengerId', axis=1,inplace=True)

Name is useless

In [275]:
df.drop('Name', axis=1, inplace = True)

Ticket is usless

In [276]:
df.drop('Ticket', axis = 1, inplace=True)

In [277]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0           0       3    male  22.0      1      0   7.2500
1           1       1  female  38.0      1      0  71.2833
2           1       3  female  26.0      0      0   7.9250
3           1       1  female  35.0      1      0  53.1000
4           0       3    male  35.0      0      0   8.0500
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0  13.0000
887         1       1  female  19.0      0      0  30.0000
888         0       3  female  30.0      1      2  23.4500
889         1       1    male  26.0      0      0  30.0000
890         0       3    male  32.0      0      0   7.7500

[891 rows x 7 columns]

In [278]:
df.isna().mean()

Survived    0.0
Pclass      0.0
Sex         0.0
Age         0.0
SibSp       0.0
Parch       0.0
Fare        0.0
dtype: float64

## Handling categorical data

In [279]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()

df['Sex'] = lb_make.fit_transform(df['Sex'])

In [280]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    1  22.0      1      0   7.2500
1           1       1    0  38.0      1      0  71.2833
2           1       3    0  26.0      0      0   7.9250
3           1       1    0  35.0      1      0  53.1000
4           0       3    1  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
886         0       2    1  27.0      0      0  13.0000
887         1       1    0  19.0      0      0  30.0000
888         0       3    0  30.0      1      2  23.4500
889         1       1    1  26.0      0      0  30.0000
890         0       3    1  32.0      0      0   7.7500

[891 rows x 7 columns]

## Data split

In [281]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

In [282]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

## Normalization

In [283]:
# data normalization with sklearn
from sklearn.preprocessing import MinMaxScaler

# fit scaler on training data
norm = MinMaxScaler().fit(X_train)

# transform training data
X_train_norm = norm.transform(X_train)

# transform testing dataabs
X_test_norm = norm.transform(X_test)

# Models

## Logistic Regression

In [284]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score as acc

lr = LogisticRegression()

lr.fit(X_train_norm, y_train)

predictions_lr = lr.predict(X_test_norm)

print(acc(y_test, predictions_lr))

0.7932960893854749

## Decision Tree

In [285]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score as acc

drc = DecisionTreeClassifier()

drc.fit(X_train_norm, y_train)

predictions_drc = drc.predict(X_test_norm)

print(acc(y_test, predictions_drc))

0.8379888268156425

## Random Forest

In [286]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(max_depth = 6)

rfc.fit(X_train_norm, y_train)

predictions_rfc = rfc.predict(X_test_norm)

print(acc(y_test, predictions_rfc))

0.8547486033519553

## Support Vector Machines

In [287]:
from sklearn.svm import SVC

svc = SVC()

svc.fit(X_train_norm, y_train)

predictions_svc = svc.predict(X_test_norm)

print(acc(y_test, predictions_svc))

0.8379888268156425

## K Nearest Neighbors

In [288]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=5)

neigh.fit(X_train_norm, y_train)

predictions_neigh = neigh.predict(X_test_norm)

print(acc(y_test,predictions_neigh))

0.8435754189944135

# Final training

Since Random Forest performed the best I will now train the model on whole training dataset with RFC just to try slightly improve the final score.

In [289]:
# data normalization with sklearn
from sklearn.preprocessing import MinMaxScaler

# fit scaler on training data
norm_final = MinMaxScaler().fit(X)

# transform training data
X_norm_final = norm.transform(X)

In [290]:
rfc.fit(X_norm_final, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=6, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

# Preparing test set for model usage

In [291]:
test = pd.read_csv('test.csv')
test.shape

(418, 11)

## Missing and unwanted values

In [292]:
PassengerId = test['PassengerId']

In [293]:
test.drop(['Cabin'],axis = 1,inplace = True)
test.drop('PassengerId', axis=1,inplace=True)
test.drop('Embarked', axis=1,inplace=True)
test.drop('Name', axis=1, inplace = True)
test.drop('Ticket', axis = 1, inplace=True)

test.shape

(418, 6)

In [294]:
df.shape

(891, 7)

In [295]:
test

     Pclass     Sex   Age  SibSp  Parch      Fare
0         3    male  34.5      0      0    7.8292
1         3  female  47.0      1      0    7.0000
2         2    male  62.0      0      0    9.6875
3         3    male  27.0      0      0    8.6625
4         3  female  22.0      1      1   12.2875
..      ...     ...   ...    ...    ...       ...
413       3    male   NaN      0      0    8.0500
414       1  female  39.0      0      0  108.9000
415       3    male  38.5      0      0    7.2500
416       3    male   NaN      0      0    8.0500
417       3    male   NaN      1      1   22.3583

[418 rows x 6 columns]

In [296]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    1  22.0      1      0   7.2500
1           1       1    0  38.0      1      0  71.2833
2           1       3    0  26.0      0      0   7.9250
3           1       1    0  35.0      1      0  53.1000
4           0       3    1  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
886         0       2    1  27.0      0      0  13.0000
887         1       1    0  19.0      0      0  30.0000
888         0       3    0  30.0      1      2  23.4500
889         1       1    1  26.0      0      0  30.0000
890         0       3    1  32.0      0      0   7.7500

[891 rows x 7 columns]

## Missing values

In [297]:
test.isna().mean()

Pclass    0.000000
Sex       0.000000
Age       0.205742
SibSp     0.000000
Parch     0.000000
Fare      0.002392
dtype: float64

In [298]:
test.isna().sum()

Pclass     0
Sex        0
Age       86
SibSp      0
Parch      0
Fare       1
dtype: int64

* every missing value in age I will replace mith an age mean value of all passengers that age data is present in the dataset
* same with fare

In [299]:
test['Age'].fillna(test['Age'].mean(), inplace=True)
test['Fare'].fillna(test['Fare'].mean(), inplace=True)

In [300]:
test.isna().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [301]:
test

     Pclass     Sex       Age  SibSp  Parch      Fare
0         3    male  34.50000      0      0    7.8292
1         3  female  47.00000      1      0    7.0000
2         2    male  62.00000      0      0    9.6875
3         3    male  27.00000      0      0    8.6625
4         3  female  22.00000      1      1   12.2875
..      ...     ...       ...    ...    ...       ...
413       3    male  30.27259      0      0    8.0500
414       1  female  39.00000      0      0  108.9000
415       3    male  38.50000      0      0    7.2500
416       3    male  30.27259      0      0    8.0500
417       3    male  30.27259      1      1   22.3583

[418 rows x 6 columns]

## Categorical values

and categorical values copied from handling categorical data

In [302]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()

test['Sex'] = lb_make.fit_transform(test['Sex'])

In [303]:
test

     Pclass  Sex       Age  SibSp  Parch      Fare
0         3    1  34.50000      0      0    7.8292
1         3    0  47.00000      1      0    7.0000
2         2    1  62.00000      0      0    9.6875
3         3    1  27.00000      0      0    8.6625
4         3    0  22.00000      1      1   12.2875
..      ...  ...       ...    ...    ...       ...
413       3    1  30.27259      0      0    8.0500
414       1    0  39.00000      0      0  108.9000
415       3    1  38.50000      0      0    7.2500
416       3    1  30.27259      0      0    8.0500
417       3    1  30.27259      1      1   22.3583

[418 rows x 6 columns]

In [304]:
X

     Pclass  Sex   Age  SibSp  Parch     Fare
0         3    1  22.0      1      0   7.2500
1         1    0  38.0      1      0  71.2833
2         3    0  26.0      0      0   7.9250
3         1    0  35.0      1      0  53.1000
4         3    1  35.0      0      0   8.0500
..      ...  ...   ...    ...    ...      ...
886       2    1  27.0      0      0  13.0000
887       1    0  19.0      0      0  30.0000
888       3    0  30.0      1      2  23.4500
889       1    1  26.0      0      0  30.0000
890       3    1  32.0      0      0   7.7500

[891 rows x 6 columns]

# Final predictions

In [305]:
# data normalization with sklearn
from sklearn.preprocessing import MinMaxScaler

# fit scaler on training data
norm_final_test = MinMaxScaler().fit(test)

# transform training data
X_norm_final_test = norm.transform(test)

In [306]:
predictions_final = rfc.predict(X_norm_final_test)
predictions_final

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0])

## Validating rows amount

In [307]:
predictions_final = pd.DataFrame(predictions_final)
predictions_final

     0
0    0
1    0
2    0
3    0
4    1
..  ..
413  0
414  1
415  0
416  0
417  0

[418 rows x 1 columns]

In [308]:
len(predictions_final)

418

In [309]:
test.shape[0]

418

## Exporting the predictions

In [310]:
predictions_final['PassengerId'] = PassengerId

In [311]:
predictions_final.rename(columns = {0:'Survived'}, inplace = True)

In [312]:
predictions_final = predictions_final[['PassengerId','Survived']]
predictions_final

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [313]:
px.pie(predictions_final, 'Survived')

In [315]:
predictions_final.to_csv(r'gender_submission',index=False, header = True)